
@{
    ViewData["Title"] = " Super Admin";
    string bgBtnClass = "btn-outline-light d-inline-block";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<hr />

<section class="super-admin-page">
    <div class="row text-center justify-content-center">
        <div class="col-md-4">
            <article class="card shadow">
                <div class="card-body">
                    <h3 class="card-title">Total Categorías</h3>
                    <p class="card-text">@ViewBag.categorias</p>
                    <a class="btn @bgBtnClass" asp-action="Index" asp-controller="Categoria">Lista</a>
                    <a class="btn @bgBtnClass" asp-action="Create" asp-controller="Categoria">Agregar</a>
                </div>
            </article>
        </div>

        <div class="col-md-4">
            <article class="card shadow">
                <div class="card-body">
                    <h3 class="card-title">Total Estados</h3>
                    <p class="card-text">@ViewBag.estados</p>
                    <a class="btn @bgBtnClass" asp-action="Index" asp-controller="Estado">Lista</a>
                    <a class="btn @bgBtnClass" asp-action="Create" asp-controller="Estado">Agregar nuevo estado</a>
                </div>
            </article>
        </div>

        <div class="col-md-4">
            <article class="card shadow">
                <div class="card-body">
                    <h3 class="card-title">Total Tareas</h3>
                    <p class="card-text">@ViewBag.tareas</p>
                    <a class="btn @bgBtnClass" asp-action="Index" asp-controller="Tarea">Lista</a>
                    <a class="btn @bgBtnClass" asp-action="Create" asp-controller="Tarea">Agregar</a>
                </div>
            </article>
        </div>

        <div class="col-md-4">
            <article class="card shadow">
                <div class="card-body">
                    <h3 class="card-title">Total Usuarios</h3>
                    <p class="card-text">@ViewBag.usuarios</p>
                    <a class="btn @bgBtnClass" asp-action="Index" asp-controller="Usuario">Lista</a>
                    <a class="btn @bgBtnClass" asp-action="Create" asp-controller="Usuario">Agregar nuevo usuario</a>
                </div>
            </article>
        </div>


        <div class="col-md-4">
            <article class="card shadow">
                <div class="card-body">
                    <h3 class="card-title">Total Prioridades</h3>
                    <p class="card-text">@ViewBag.prioridades</p>
                    <a class="btn @bgBtnClass" asp-action="Index" asp-controller="Prioridad" >Lista</a>
                    <a class="btn @bgBtnClass" asp-action="Create" asp-controller="Prioridad" >Agregar</a>
                </div>
            </article>
        </div>
    </div>
</section>